*{
    
    margin: 0px;
    padding: 0px;
    font-family: 'Kanit', sans-serif;
}
.container{
    width: 100%;
    height: 100vh;/* viewport height(vh)=19.2px */
    background-color: rgb(232, 243, 243);
    position: relative;
}
.navbar{
    display: flex;/* to display side by side align cheyan venditt */
    justify-content: space-between;/* pic um textum cheyan split cheyan vendi aahn */
    margin-left: 100px ;
    align-items: center;
    width: 85%;
}
.logo{
    width: 100px;
}

.linkeditems{
   display: inline-block;
    margin: 10px 20px;
}

.links{
    text-decoration: none; /* to remove the underline */
    font-weight: bold;
    color: black;
}

/* PSEUDO CLASS */

/* SELECTOR:PUEUDO - CLASS{property:value;} */
.links:hover{
    color: red;
}
.title{
    margin-top: 13%;
    margin-left: 8%;
}
.title_h1{
    font-size: 40px;
    margin-bottom: 20px;
}
#lastname{
    color: rgb(251, 181, 32);
}

.download{
    background-color: black;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    display: inline-block;
    margin-top: 30px;
}

.images{
    position: absolute;
    width: 45%;
    height: 80%;
    bottom: 0px;
    right: 30px;

}

.images img{ /* this model is the center selector */
    position: absolute;
    height: 100%;
    left: 50%;
    bottom: 0px;
    transform: translateX(-50%);
    transition: bottom 1s,left 2s;


}
.images:hover #shape{
    bottom: 70%;
    
}
.images:hover #girl{
    left: 40%;

}
#about{
    margin: 16% 8% 0px 8%;
}

.heading{

    text-align: center;
}
.heading h2{
    font-size: 30px;
}
.heading span{
    font-size: 20px;
    color: green;

}
.about_content{
    display: grid;
    grid-template-columns: repeat(2, 1fr);/* fr=225px */
    gap: 2rem;/* 1rem=16px */
    margin-top: 2rem;

}

.about-img img{
    width: 80%;
    border-radius: 1rem;
}

.about_details{
    font-size: 18px;
    font-weight: 400;
    text-align: justify;/*  to property align text both currect side */

}
.informations{
    margin-top: 2rem;

}
.info-box{
    margin-bottom: 1rem;
    /* display: flex;
    align-items: center; */
}

.info-box span{
    margin-bottom: 1rem;
}
html{
    scroll-behavior: smooth;
}

#skills{
    margin: 8% 8% 0px 8%;
}

.skill_container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 2rem;
    margin-top: 2rem;
}

.skill-img img{
    width: 85%;
    padding-left: 4rem;
}

.bar-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0px;
    margin-bottom: 1rem;
    position: relative; /*  */
}

.base-bar{
    width: 100%;
    height: 0.5rem;
    background-color: rgb(0, 0, 0);
    border-radius: 5rem;
    position: absolute;
    bottom: 0px;
    left: 0px;
}

.html-bar{
    width: 95%;
    background-color: rgb(242, 176, 23);
}

.css-bar{
    width: 88%;
    background-color: rgb(245, 208, 24);
}

.js-bar{
    width: 89%;
    background-color: rgb(243, 195, 20);
}

.react-bar{
    width:  85%;
    background-color: rgb(243, 178, 12);
}

.icon-set{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3%;
}

.icon, .up-arrow{
    width: 50px;
    height: 50px;
    border-radius: 50%;
   /*  border: 1px solid; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 10px;

}
.icon i{
    font-size: 30px;
    color: black;
    
}

.icon:hover{
    background-image: linear-gradient(to bottom right, rgb(227, 244, 33) , rgb(249, 108, 7));
}

.icon:hover i{
    color:aqua;
    animation: shake 0.75s;
}
@keyframes shake{
    10%{
        transform: rotate(15deg);
    }
    20%{
        transform: rotate(-15deg);
    }
    30%{
        transform: rotate(15deg);
    }
    40%{
        transform: rotate(-15deg);
    }
}

footer{
    margin: 3rem 0px;

}
.up-arrow{
float: right;
background-image: linear-gradient(to bottom right, rgb(227, 244, 33) , rgb(249, 108, 7));
margin: 0px 10px 50px 0px;


}

.up-arrow:hover i{
    color:white ;
    
}